<!DOCTYPE html>
<html>
  <head>
    <title>Page for: <%= user %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Page for: <%= user %></h1>
    <p>Welcome, <%= user %></p>
    <p>This page is just for you!</p>
  </body>
</html>
